body(style={width:"44%","margin-top":"3%","margin-left":"1%"})
div(style={width:"100%"})
    h1 Husk å signere
    b Hei, #{name}!
    br

    p
    | Vær vennlig å fullføre signering på #{signingUrl}
    br
